# Compiled Object files
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.a
*.lib

# Executables
*.exe

# DUB
.dub
docs.json
__dummy.html
docs/
target/

# From dub run adrdox -- .
skeleton.html
generated-docs/

# Code coverage
*.lst

### VS Code ###
.vscode/

# Emacs/Vim
\#*\#
*~

# AUCTex
auto/

# GNU Global
GTAGS
GRTAGS
GPATH
